.pin {
    height: 350px;
    overflow: auto;
}

.pin img {
    height: 200px;
    width: auto;
}

.rear {
    z-index: 1;
    height: 100%;
    width: 100%;
    background-color: red;
    opacity: 0;
}